<div class="col-md-4 col-sm-12">
    <div class="card">
        <h2 class="card-header">
            <a href="{{ path('adoption_show', {
                id: adoption.id,
            }) }}">
                {{ adoption.name }}
            </a>
        </h2>
        <div class="card-body">
            <p class="card-text">
                {{ adoption.description }}
            </p>
            {% for dog in adoption.dogs %}
                <h3>
                    {{ dog.name }}
                    {% if dog.birthDate %}
                        ({{ dog.age }} ans)
                    {% endif %}
                    {% if dog.taken %}
                        (adopté)
                    {% endif %}
                </h3>
                <div class="row">
                    {% for image in dog.images %}
                        {% if image.path starts with 'http' %}
                            <img src="{{ image.path }}" class="col-6" alt="" style="height: auto">
                        {% else %}
                            <img src="{{ vich_uploader_asset(image) }}" class="col-6" alt="" style="height: auto">
                        {% endif %}
                    {% endfor %}
                </div>
                <p>
                    {{ dog.description }}
                </p>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {{ adoption.updatedAt|date('d/m/Y à H:i') }}
        </div>
    </div>
</div>