{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name, {
            label: "Titre de l'annonce",
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        {{ form_row(form.description, {
            label: "Détails de l'annonce",
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        {{ form_row(form.dogs, {
            label: "Chiens associés à l'annonce",
            row_attr: {
                class: 'mb-3',
            },
            label_attr: {
                class: 'form-label',
            },
            attr: {
                class: 'form-control',
            },
        }) }}
        <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Créer / modifier une annonce
{% endblock %}

