{% extends 'base.html.twig' %}

{% block title %}
    Chiens à l'adoption
{% endblock %}

{% block body %}
    <h1>Chiens à l'adoption</h1>
    <div class="row g-4">
        {% for adoption in adoptions %}
            {% include 'adoption/_one-adoption.html.twig' with {
				adoption: adoption
			} only %}
        {% endfor %}
    </div>
{% endblock %}
