{% extends 'base.html.twig' %}

{% block title %}
    {{ adoption.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ adoption.name }}</h1>
        <p>
            {{ adoption.description }}
        </p>
        {% for dog in adoption.dogs %}
            <h3>
                {{ dog.name }}
                {% if dog.birthDate %}
                    ({{ dog.age }} ans)
                {% endif %}
                {% if dog.taken %}
                    (adopté)
                {% endif %}
            </h3>
            {% for image in dog.images %}
                <img src="{{ image.path }}" class="card-img-top" alt="">
            {% endfor %}
            <p>
                {{ dog.description }}
            </p>
        {% endfor %}
        <a href="{{ path('default_contact_for_adoption', { id: adoption.id }) }}">Nous contacter</a>
    </div>
{% endblock %}
