{% extends 'base.html.twig' %}

{% block title %}
	Les pôtichiens
{% endblock %}

{% block body %}
	<h1>Les pôtichiens</h1>
    <div class="row g-4">
        {% for adoption in adoptions %}
            {% include 'adoption/_one-adoption.html.twig' with {
				adoption: adoption
			} only %}
        {% endfor %}
    </div>
{% endblock %}
